<!DOCTYPE html>
<html>
  <head>
    <title>Xem phim không quảng cáo</title>
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <video
    id="my-video"
    class="video-js vjs-16-9"
    controls
    autoplay preload="auto"
    poster="MY_VIDEO_POSTER.jpg"
    data-setup='{ "playbackRates": [0.5, 1, 1.5, 2, 4] }'
  >
    <source src="<%= link %>" type="application/x-mpegURL" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
  <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
  </body>
</html>
